<launch>
    
    <include file="$(find tmwi_launch)/launch/coreservices.launch" />
    <include file="$(find tmwi_launch)/launch/tmwi.launch" />

    <!-- <machine name="Dell" address="10.81.0.213" default=never user="SU_Juerd"/> -->
    <!-- <node machine="Dell" name="dotpad_receiver" pkg="dotpad_receiver" type="dotpad_receiver" /> -->

    <!-- <machine name="lenovo" address="10.81.0.214" env-loader="/opt/ros/noetic/env.sh" user="juerd" default="true"/> -->
    <!-- <machine name="juerd-MacBookPro" address="localhost" env-loader="~/catkin_ws/devel/env.sh" default="true"/>
    <machine name="Dell" address="10.81.0.213" env-loader="~/catkin_ws/devel/env.sh" default="true"/>

    <machine name="lenovo" address="10.81.0.214" env-loader="~/catkin_ws/devel/env.sh" user="juerd" default="true"/>
    <node machine="lenovo" pkg="beginner_tutorials" name="talker" type="talker"/>
    <node machine="lenovo" name="tmwi_controller" pkg="tmwi_controller" type="tmwi_controller" />
    <node machine="lenovo" name="rviz" pkg="rviz" type="rviz" /> -->

    <!-- <machine name="Dell" address="10.81.0.213" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" /> -->

    <!-- <machine name="" address="" default=never user="juerd"/> -->


</launch>   