<launch>

    <!-- PARAMETERS -->

    <!-- General settings -->
    <arg name="localization_only"                   default="false" />
    <arg name="delete_db"                           default="false" />
    <arg name="film_screen"                         default="false"/>

    <!-- Visualisation -->
    <arg name="use_rviz"                            default="false" />
    <arg name="use_rtabmapviz"                      default="false" />
    <arg name="rviz_cfg"                            default="$(find tmwi)/launch/config/rgbd.rviz" />

    <!-- Mapper -->
    <arg name="default_zoom"                       default="8" />






    <!-- NODES -->

    <!-- Front cam for RTABMAP -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <!-- <arg name="initial_reset"                   value="true"/> -->

        <arg name="align_depth"                     value="true"/>
        <arg name="camera"                          value="camera"/>
        <arg name="serial_no"                       value="030522070002"/>
        <arg name="filters"                         value="pointcloud"/>
        <arg name="enable_sync"                     value="true"/>
    </include>


    <!-- Film screen -->
    <group if="$(arg film_screen)">
        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <!-- <arg name="initial_reset"                   value="true"/> -->
            <arg name="camera"                          value="camera_screen"/>
            <arg name="serial_no"                       value="034522061023"/>
            <arg name="filters"                         value="spatial,temporal"/>
            <arg name="enable_depth"                    value="false"/>
            <arg name="enable_fisheye"                  value="true"/>
            <arg name="enable_confidence"               value="false"/>
            <arg name="publish_tf"                      value="false"/>
            <arg name="publish_odom_tf"                 value="false"/>
        </include>
    </group>



    <!-- ROBOT STATE PUBLISHER -->
    <param name="robot_description" command="xacro $(find tmwi_description)/urdf/testsetup_stroller.urdf.xacro"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>



    <!-- RTABMAP -->
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">

        <arg name="depth_topic"        value="/camera/aligned_depth_to_color/image_raw"/>
        <arg name="frame_id"           value="/base_link"/>
        <arg name="rgb_topic"          value="/camera/color/image_raw"/>
        <arg name="camera_info_topic"  value="/camera/color/camera_info"/>
        <arg name="rviz"               value="$(arg use_rviz)"/>
        <arg name="rtabmap_viz"         value="$(arg use_rtabmapviz)"/>
        <arg name="rviz_cfg"           value="$(arg rviz_cfg)" />
        <arg if="$(arg delete_db)"    name="rtabmap_args"       value="--delete_db_on_start"/> 


        <!-- Localization Mode-->
        <!-- <group if="localization_only" >
            <arg name="localization" value="true" />
            <param name="Mem/IncrementalMemory" type="string" value="false"/>
        </group> -->

        <!-- Point Cloud generation settings-->
        <arg name="gen_cloud_voxel"    value="0.05"/>
        <!-- <arg name="scan_cloud_assembling_range_max"    value="2.0"/>     -->
        <arg name="scan_cloud_assembling_noise_radius" value="0.01" />           <!-- prev .05 , 0.0=disabled -->
        <arg name="scan_cloud_assembling_noise_min_neighbors" value="50" />   

        <arg name="gen_depth_fill_holes_size" value="0" />                      <!-- 0 = off -->
        <arg name="gen_depth_fill_iterations" value="1" />
        <arg name="gen_depth_fill_holes_error" value="0.1" />


        <!--  
        /rtabmap/rtabmap/Grid/NoiseFilteringMinNeighbors
        /rtabmap/rtabmap/Grid/NoiseFilteringRadius
        /rtabmap/rtabmap/Grid/MaxGroundAngle

        /rtabmap/rtabmap/Grid/MaxObstacleHeight
        /rtabmap/rtabmap/Grid/MinGroundHeight
        /rtabmap/rtabmap/Grid/MaxGroundHeight
        -->

    </include>
    

    <!-- TACTILE MAP WITH INTENT -->
    <node name="tmwi_node" pkg="tmwi" type="tmwi_node" output="screen">
        <param name="zoom_level" value="$(arg default_zoom)" />
    </node>

</launch>