<launch>

    <!-- PARAMETERS -->
    <!-- General settings -->
    <arg name ="2D_Mapping"     default="false" />  

    <!-- Visualisation -->
    <arg name="use_rviz"        default="true" />
    <arg name="rviz_cfg"        default="$(find tactilemap_with_intent_package)/launch/config/rgbd.rviz" />

    <!-- REALSENSE -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth"                   value="true"/>
    </include>

    <!-- RTABMAP -->
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="rtabmap_args"       value=""/>         <!-- "delete_db_on_start" -->
        <arg name="depth_topic"        value="/camera/aligned_depth_to_color/image_raw"/>
        <arg name="frame_id"           value="/camera_link"/>
        <arg name="rgb_topic"          value="/camera/color/image_raw"/>
        <arg name="camera_info_topic"  value="/camera/color/camera_info"/>
        <arg name="rviz"               value="true"/>
        <arg name="rviz_cfg"           value="$(find tactilemap_with_intent_package)/launch/config/rgbd.rviz" />
        <arg name="rtabmapviz"         value="false"/>
        <arg name="gen_cloud_voxel"    value="0.2"/>
        <arg name="scan_cloud_assembling_noise_radius" value=".1" />
        <arg name="scan_cloud_assembling_noise_min_neighbors" value="8000" />
    </include>

</launch>